
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {
    background-color: #ff4081;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.logo-section {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.logo {
    width: 250px;
    height: auto;
}



.menu {
    list-style: none;
    display: inline-block;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: #ff4081;
    font-weight: bold;
}

.menu li a:hover {
    text-decoration: underline;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff4081;
    color: white;
    text-align: center;
    padding: 20px 0;
}


.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.producto {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h2 {
    font-size: 1.5em;
    color: #ff4081;
    margin: 10px 0;
}

.descripcion {
    font-size: 1em;
    margin: 10px 0;
}

.precio {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

.promocion {
    font-size: 1em;
    color: #ff4081;
    margin-top: 5px;
    font-weight: bold;
}

/* Estilos para la descripción emergente */
.descripcion-emergente {
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
    visibility: hidden;
}

.producto:hover .descripcion-emergente {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}



.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Ajusta el margen según necesites */
}

.button-wrapper a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #ff4081;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button-wrapper a:hover {
    background-color: #131313;
}
.contenido-footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: center ;

}
.site-footer{
    background-color: #9b4187;
    margin-top: 5rem;
}
.navegacion-footer a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    transition: color 0.3s, font-size 0.3s; /* Transición suave para el color */
}

.navegacion a:last-of-type {
    margin-right: 0;
}
/* Estilo al pasar el mouse sobre los enlaces en la navegación del footer */
.navegacion-footer a:hover {
    color: #CC9408; /* Cambia el color al pasar el mouse */
    font-size: 2rem; /* Aumenta el tamaño de fuente */
    font-weight: bold; 
}

.site-header{
    background-image: url(../img/11.png);
    
    min-height: 4rem;
    background-position: center;
    background-size: cover;
}
.site-header.inicio {
    background: linear-gradient(135deg, #963455, #9446a1, #e1f5fe); /* Degradado en colores pastel */

    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.site-header.inicio {
    background: linear-gradient(135deg, #963455, #9446a1, #e1f5fe); /* Degradado en colores pastel */

    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
/* barra */
.barra {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e079; /* Hacemos que el contenedor sea inicialmente transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.39); /* Agregamos una sombra para la profundidad */
    padding-left: 90px; /* Añadimos un margen interno a la izquierda */
    padding-right: 90px;
    padding-bottom: 0;
    padding-top: 7px;
    
    
}






.barra:hover {
    background-color: #e0e0e0; /* Cambiamos el color de fondo para resaltar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumentamos la sombra para un efecto de elevación */

}
.logo {
    width: 110px;
    height: 110px;
    border-radius: 50%; /* Hace la imagen redonda */

    transition: transform 0.3s ease; /* Animación de transición para transformaciones */
}

.logo:hover {
    transform: scale(1.1); /* Escala la imagen al pasar el mouse sobre ella */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /* Añade una sombra al pasar el mouse */
}

/* Estilo base para los enlaces */
.navegacion a {
    color: #000000;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    transition: color 0.3s, font-size 0.3s; /* Transición suave para color y tamaño de fuente */
}

/* Elimina el margen derecho solo para el último elemento */
.navegacion a:last-of-type {
    margin-right: 0;
}

/* Estilo al pasar el mouse sobre los enlaces */
.navegacion a:hover {
    color: #d46114; /* Cambia el color */
    font-size: 2rem; /* Aumenta el tamaño de fuente */
    font-weight: bold; /* Puedes agregar negrita u otras modificaciones */
}


/* Estilo base para los enlaces en la navegación del footer */
.navegacion-footer a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    transition: color 0.3s, font-size 0.3s; /* Transición suave para el color */
}

.navegacion a:last-of-type {
    margin-right: 0;
}
/* Estilo al pasar el mouse sobre los enlaces en la navegación del footer */
.navegacion-footer a:hover {
    color: #CC9408; /* Cambia el color al pasar el mouse */
    font-size: 2rem; /* Aumenta el tamaño de fuente */
    font-weight: bold; 
}


.contenedor-index {
    
    margin-top: 0;
    margin-right: 0rem;
    margin-bottom: 0;
    margin-left: 0rem;
}
.contenido-header{
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
   
}
.contenido-header h1{
    
    max-width: 90rem;
    padding-bottom: 5rem;
    line-height: 2rem ;
    
    padding-left: 2rem;
    padding-top: 5rem;
    font-size: 4rem;
    /* diseño de fondo */
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmwyYjExYWx0a2szNDZkdjN4cDBhdHpvZ2d1enF1YmZscW03MG52OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hM4OekkycahSas09bD/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	
}
